<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      body,
      html {
        width: 100%;
        height: 100%;
        display: flex;
      }
      .replay-page {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div class="replay-page">
      <button class="button--back"></button>
      <div class="header">
        <p>Hãy kiểm tra thật kỹ lại các câu sai</p>
      </div>
      <div class="container">
        <img src="" alt="question-icon" />
        <div class="questions-list__container">
          <!-- like a carousel slider -->
        </div>
      </div>
    </div>
  </body>
</html>
